<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="easy-id-selector">
      <span>Algunos selectores son sencillos de armar</span>
    </div>
  </body>
</html>
